:root{font-family: 'Catamaran', sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background: black;}
::selection{color: transparent;background: #007bff;}

html{scroll-behavior: smooth;scroll-snap-type:y proximity;}
*{padding:0px;margin:0px;}

.StatBackground{padding:0px;margin:0px; min-height: 100%; min-width: 100%; width: auto; background-image: linear-gradient(#061a24,#141b18);position: fixed;z-index: -100;}
.StatBackground img{min-height: 100%; min-width: 100%; width: auto;}

.logo{height:95%;width:5%;padding: 0% 0px 0px 2%;float:left;}
.logo img{height:110%;width:110%;}

.topnav{max-height:10%;width:100%;background-color: back;margin-top:0.5%;position: fixed; z-index: 1000; overflow: hidden;}
.burger{color: grey; display: none; transition: color 0.3s;}
.topnav a:hover {color: white; transition: 0.3s;}
.navlist{width: 50%; background-color: #061a247d;border-radius:20px;list-style: none;float:right;padding-top: 1%;padding-bottom: 0.75%;margin-right: 2%;display: flex;justify-content: space-around;}
.navlist li{display: inline-block;font-size: 120%;}
.navlist li a{text-decoration: none;color: white;font-weight: 900;}
.menu{display: flex; justify-content: space-between; width: 90%;}


.Page-1{scroll-snap-align:start;width:100%;height:100vh;}
/* .Page-1 img:nth-of-type(1){position: absolute;margin-top: 42%;margin-left: 52%;max-height:23%; max-width:10%;  z-index:-1; animation:rocketfly 3s ease-in 1 normal forwards;}
.Page-1 img:nth-of-type(2){width:100%;max-height:90%;margin-top: 5%;} */

.RocketPath{position: absolute;background-color: #fee143;top:99%;left: 55%;width: 5%;height:5px;transform-origin: left;animation:path 3s ease-in 1 normal forwards;transition: ease-in-out 300ms;z-index: -2;  }
.namebox{font-family: 'Bebas Neue', cursive;position: absolute;background: -webkit-linear-gradient(-45deg,#fee143,#ab233b);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;left:57%;top:35%;animation: appear 3s ease-in 1 normal forwards;transform-origin: left;}

.Page-2{scroll-snap-align:start;width:100%;height:100vh;}
.planet1{max-width:10%;position: relative;top:70%;left:2%;height: auto;border-radius: 50%;outline:white solid 4px;outline-offset: 10px;}
.planet1 img{width: 100%;}
.planet2{max-width:10%;position: relative;top:0%;left:88%;height: auto;border-radius: 50%;outline:white solid 4px;outline-offset: 10px;}
.planet2 img{width: 100%;}

.textbox{position: relative;font-size: larger;font-weight: 600;width:25%;padding: 1rem;border-radius: 2%;outline:white solid 4px;outline-offset: 10px;color: white;background: rgba(255, 255, 255, 0.25);backdrop-filter: blur(5px);}
.tb1{left: 50%;top: 15%;}
.tb2{left: 20%;top: -35%;}
svg{height:25%;width: 25%;position: relative;fill:transparent;stroke:white;stroke-width:4}
svg:nth-of-type(1){position: relative;height:30%;top: -35%;left: 0%;}
svg:nth-of-type(2){ position: relative;height:30%;width:24%;top: -60%;left: 50%;}
.Page-3{scroll-snap-align:start;width:100%;height:100vh;color: white;text-align: center;align-items: center; padding-top: 5%;}
.Page-4{scroll-snap-align:start;width:100%;height:100vh;}
.Page-4 img{/*Sun*/position: absolute;padding: 0%;margin: 20% 0% 0% 43%;max-width: 12%;height: auto;}
.Page-5{scroll-snap-align:end;width:100%;height:50vh; margin-top: 30vh; background: #061a24b1;}
.Page-5 h1{font-size: 5rem; color: white; font-family: 'Roboto', sans-serif; padding: 5rem;}

model-viewer{ background-color: #8d8c965b; border-radius: 5%;width: 50%;height: 80%;margin: 0 auto;}

.btn {display:inline-block;text-decoration: none;font-size:1.2rem;line-height:1.5em;font-weight:400;text-transform:uppercase;color:#fff; margin:1rem; padding:10px 20px;background-color:transparent;border:2px solid #335E6F;border-radius:2px;letter-spacing:0.25rem;transition:all 0.25s ease}
.btn:hover {color:#fff;background-color:#335E6F;transform:translateY(-0.15rem)}
.btn.active:hover {transform:none;cursor:default}
.btn.active {color:#fff;background-color:#335E6F}

.social{margin-top: 3rem;}
.social a{ color: white;font-size: 3rem;margin-right: 1rem;padding: 0.5rem;}

.start_btn,
.quiz_box,
.result_box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 35px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    border: solid white;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}

.start_btn button:hover{
    color: black;
    background: white;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 750px;
    background: transparent;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: transparent;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 35px;
    font-weight: 600;
}

.quiz_text{color: white; font-size: 40px;}

section{
    padding: 25px 30px 20px 30px;
    background: transparent;
}

section .que_text{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: black;
    background: white;
    transition: all 0.3s ease;
    border: 1px solid white;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    color: white;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: transparent;
}

footer .total_que span{
    color: white;
    display: flex;
    user-select: none;
}

footer .total_que span p{
    color: white;
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: white;
    color: black;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: transparent;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .complete_text{
    font-size: 40px;
    font-weight: 500;
}

.result_box .score_text span{
    color: white;
    display: flex;
    margin: 25px 0;
    font-size: 40px;
    font-weight: 400;
}

.result_box .score_text span p{
    color: white;
    padding: 0 4px;
    font-weight: 500;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: transparent;
}

.buttons button.restart:hover{
    background: white;
    color: black;
}

.buttons button.quit{
    color: white;
    background: transparent;
}

.buttons button.quit:hover{
    color: black;
    background: white;
}

@media only screen and (max-width: 768px) {
    .navlist {
        align-self: end;
        position: fixed;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.34);
        width: 50%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        right: 0;
    }
    .menu {display: none; float: right;}
    .navlist.active {display: flex;}
    .burger.active{color: white;}
    .navlist li {margin: 2.5rem 0;}
    .menu.active{display: grid; width:100%; justify-content: center;}
    .burger {display: block;cursor: pointer;}
}